<!--

     Copyright (c) 2010-20240129-202419 BSI Business Systems Integration AG
     Copyright (c) 2023-20240129-202419 Nils Israel

    This program is an extension of the original work from the Eclipse Scout Project,
    available at https://www.eclipse.org/scout/.

     This program and the accompanying materials are made
     available under the terms of the Eclipse Public License 2.0
     which is available at https://www.eclipse.org/legal/epl-2.0/

     SPDX-License-Identifier: EPL-2.0

-->
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>"%date{ISO8601} %-5level [%thread] %logger - %msg%n%ex"</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
