.monaco-field {
  .monaco-editor-container {
    min-height: 200px;
    height: 100%;
    border: 1px solid @border-color;
    border-radius: @border-radius;
  }

  &.disabled .monaco-editor-container {
    opacity: 0.6;
  }
}
