name: snapshot
run-name: Snapshot run ${{ github.run_number }}

on:
  workflow_dispatch:

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest

    permissions:
      contents: read
      checks: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # we need the full history to validate license headers
          fetch-depth: 0

      - uses: ./.github/actions/setup-java

      - name: Validate license headers
        run: mvn -U -B license:check -P sxda.build.license-validation

  publish-maven:
    runs-on: ubuntu-latest
    needs: validate

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-java

      - uses: ./.github/actions/setup-node-pnpm

      - name: Publish maven modules to GitHub Packages
        run: mvn -B deploy
        env:
          GITHUB_TOKEN: ${{ github.token }}

  publish-npm:
    runs-on: ubuntu-latest
    needs: validate

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-node-pnpm

      - name: Update npm module snapshot version
        run: npm run version:snapshot
        working-directory: ./ace

      - name: Build npm module
        run: npm run build:all
        working-directory: ./ace

      - name: Publish node packages to npmjs.com
        run: npm publish --access public --tag snapshot
        working-directory: ./ace
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  pages:
    needs: validate

    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: ./.github/actions/setup-node-pnpm

      - name: Update npm module snapshot version
        run: npm run version:snapshot
        working-directory: ./demo

      - name: Build npm module
        run: npm run build:all
        working-directory: ./demo

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './demo/dist/'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
